<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.mapper.PurchaseMapper">
  <!--
   //添加采购单的方法
    public int insertPurchase(Purchase purchase);
  -->
  <insert id="insertPurchase">
    insert into buy_list values (
                                null, #{productId}, #{storeId}, #{buyNum},
                                #{factBuyNum}, now(), #{supplyId}, #{placeId},
                                #{buyUser}, #{phone}, 0
                                )
  </insert>

    <!--
    //查询采购单行数的方法
    public Integer findPurchaseCount(Purchase purchase);
    -->
    <select id="findPurchaseCount" resultType="integer">
        select count(*) from
        buy_list t1, product t2
        where t1.product_id = t2.product_id
        <if test="storeId != null ">
            and t1.store_id = #{storeId}
        </if>
        <if test="productName != null and productName != ''">
            and t2.product_name like concat('%', #{productName}, '%')
        </if>
        <if test="buyUser != null and buyUser != ''">
            and t1.buy_user like concat('%', #{buyUser}, '%')
        </if>
        <if test="isIn != null and isIn != ''">
            and t1.is_in = #{isIn}
        </if>
        <if test="startTime != null and startTime != ''">
            and t1.buy_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and t1.buy_time &lt;= #{endTime}
        </if>
    </select>
    <!--
    //分页查询采购单的方法
   public List<Purchase> findPurchasePage(@Param("page") Page page, @Param("purchase") Purchase purchase);
    -->
    <select id="findPurchasePage" resultType="com.ms.entity.Purchase">
        select t1.*, t2.product_name, t3.store_name
        from buy_list t1, product t2, store t3
        where t1.product_id = t2.product_id and t1.store_id = t3.store_id
        <if test="purchase.storeId != null ">
            and t1.store_id = #{purchase.storeId}
        </if>
        <if test="purchase.productName != null and purchase.productName != ''">
            and t2.product_name like concat('%', #{purchase.productName}, '%')
        </if>
        <if test="purchase.buyUser != null and purchase.buyUser != ''">
            and t1.buy_user like concat('%', #{purchase.buyUser}, '%')
        </if>
        <if test="purchase.isIn != null and purchase.isIn != ''">
            and t1.is_in = #{purchase.isIn}
        </if>
        <if test="purchase.startTime != null and purchase.startTime != ''">
            and t1.buy_time &gt;= #{purchase.startTime}
        </if>
        <if test="purchase.endTime != null and purchase.endTime != ''">
            and t1.buy_time &lt;= #{purchase.endTime}
        </if>
        order by t1.buy_time desc
        limit #{page.limitIndex}, #{page.pageSize}
    </select>

    <!--
    //删除采购单的方法
    public int removePurchase(Integer buyId);
    -->
    <delete id="removePurchaseById">
        delete from buy_list where buy_id = #{buyId}
    </delete>

    <!--
     //根据id修改预计采购数量和实际采购数量的方法
    public int modifyNumById(Purchase purchase);
    -->
    <update id="modifyNumById">
        update buy_list
        set buy_num = #{buyNum}, fact_buy_num = #{factBuyNum}
        where buy_id = #{buyId}
    </update>

    <!--
    //根据id修改采购单状态为已入库的方法
    public int setIsiInById(Integer buyId);
    -->
    <update id="setIsiInById">
        update buy_list
        set is_in = 1
        where buy_id = #{buyId}
    </update>

</mapper>