<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.mapper.UserRoleMapper">

    <!--
   	//根据用户id删除用户已分配的用户角色关系的方法
    public int removeUserRoleByUid(Integer userId);
    -->
	<delete id="removeUserRoleByUid">
        delete from user_role where user_id = #{userId}
    </delete>

    <!--
    //添加用户角色的方法
    public int insertUserRole(UserRole userRole);
    -->
    <insert id="insertUserRole">
        insert into user_role values (null, #{roleId}, #{userId})
    </insert>
</mapper>